@import "tailwindcss";

@theme {
  --font-banner-heading: "Playfair Display", serif !important;
  --font-info: "Raleway", serif;
  --color-yellow-accent: #efdf75;
  --color-dark: #1d1d1d;
}

#root {
  margin: 0 auto;
  font-family: "proxima-nova", "raleway", sans-serif !important;
}